<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.officeresources2/menu.application" insertBefore="administration">
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Office.browse" caption="msg://com.company.officeresources2.screen.office/officeBrowse.menu"/>
        <item screen="User.browse" caption="msg://com.company.officeresources2.screen.user/userBrowse.menu"/>
        <item screen="Reservation.browse"
              caption="msg://com.company.officeresources2.screen.reservation/reservationBrowse.menu"/>
        <item screen="Resource_.browse"
              caption="msg://com.company.officeresources2.screen.resource/resourceBrowse.menu"/>
        <item screen="Cabinet.browse" caption="msg://com.company.officeresources2.screen.cabinet/cabinetBrowse.menu"/>
        <item screen="Thing.browse" caption="msg://com.company.officeresources2.screen.thing/thingBrowse.menu"/>
        <item screen="ReservedResources.browse"
              caption="msg://com.company.officeresources2.screen.reservedresources/reservedResourcesBrowse.menu"/>
    </menu>

</menu-config>